---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

{% include header.html %}
<body>
  {% include navbar.html %}
  <div class="wrapper">
    <main aria-label="Content">
      <div class="not-found">
        <div class="container">
          <div class="title">404</div>
          <p class="phrase">😳 Abgefahren. Du hast es geschafft Dich auf meinem Blog zu verirren. Jetzt geh wieder. Hier ist gleich ein Pornodreh.</p>
          <a class="solution" href="{{ site.url }}">Okay, okay bin schon weg.</a>
        </div>
      </div>
    </main>  
    {% include footer.html %}
</div>
    
</body>

</html>
